<settings>

    <servers>
        <server>
            <id>ossrh</id>
            <!-- https://issues.sonatype.org/ -->
            <username>${env.SONATYPE_JIRA_ID}</username>
            <password>${env.SONATYPE_JIRA_PASSWORD}</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>ossrh</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <properties>
                <gpg.executable>gpg2</gpg.executable>
                <gpg.passphrase>${env.SONATYPE_GPG_PASSPHRASE}</gpg.passphrase>
            </properties>
        </profile>
    </profiles>

</settings>